@{
    ViewData["Title"] = "Techhowdy - Email Confirmation";
}



<div class="card">
    <div class="box">
        <div class="img">
            <img src="~/images/logo.png">
        </div>
        <h2>Merci!<br><span>Votre addresse mail est bien confirmé</span></h2>
        <p>
            Vous pouvez dès maintenant access votre compte JLS IMPORT
        </p>
        <a class="btn btn-primary btn-block" href=@ViewData["WebsiteUrl"]>LOGIN</a>
    </div>
</div>