<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Welcome Email from JLS IMPORT</title>
</head>

<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" valign="top" bgcolor="#ffe77b" style="background-color:#ffe77b;">
                <br>
                <br>
                <table width="600" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="70" align="left" valign="middle"></td>
                    </tr>

                    <tr>
                        <td align="left" valign="top" bgcolor="#564319" style="background-color:#564319; font-family:Arial, Helvetica, sans-serif; padding:10px;">
                            <div style="font-size:36px; color:#ffffff;">
                                <b>JLS IMPORT</b>
                            </div>
                            <div style="font-size:13px; color:#a29881;">
                                <b>JLS IMPORT : Expert de vente en gros</b>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top" bgcolor="#ffffff" style="background-color:#ffffff;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" valign="middle" style="padding:10px; color:#564319; font-size:28px; font-family:Georgia, 'Times New Roman', Times, serif;">
                                        @ViewBag.Title

                                    </td>
                                </tr>
                            </table>
                            @RenderBody()


                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:10px;">
                                <tr>
                                    <td align="left" valign="middle" style="padding:15px; background-color:#564319; font-family:Arial, Helvetica, sans-serif;">
                                        <div style="font-size:20px; color:#fff;">
                                            <b>CONSEILS DE SÉCURITÉ IMPORTANTS :</b>
                                        </div>
                                        <div style="font-size:13px; color:#ffe77b;">
                                            <ol>
                                                <li>Vos informations de compte doivent rester confidentielles.</li>
                                                <li>Ne les communiquez jamais à qui que ce soit.</li>
                                                <li>Changez votre mot de passe régulièrement.</li>
                                                <li>Si vous pensez que quelqu'un utilise votre compte illégalement, veuillez nous prévenir immédiatement.</li>
                                            </ol>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>

                                    <td width="50%" align="left" valign="middle" style="color:#564319; font-size:11px; font-family:Arial, Helvetica, sans-serif; padding:10px;">
                                        <b>Horaire d'ouverture:</b>Du lundi au vendredi de 9h00 à 18h30 et Samedi 14h00 à 18h00<br>
                                        <b>Service client:</b> <a href="mailto:jlsimport93@gmail.com" style="color:#564319; text-decoration:none;">jlsimport93@gmail.com</a><br>
                                        <b>Adresse:</b> 58 rue du Goulet 93300 Aubervilliers<br>
                                        <b>Tel:</b> 01 48 33 58 09<br>
                                        <b>Fax:</b> 01 48 33 72 06<br>
                                        <b>Site:</b>: <a href="https://www.jlsimport.fr" target="_blank" style="color:#564319; text-decoration:none;">https://www.jlsimport.fr</a>
                                    </td>
                                </tr>
                            </table>

                            <p style=" font-size: 8px; margin: 10px; text-align: center;">
                                Veuillez noter : ce message vous a été envoyé d'une adresse qui ne peut recevoir d'e-mails. Merci de ne pas y répondre.
                            </p>
                        </td>
                    </tr>

                </table>
                <br>
                <br>
            </td>
        </tr>
    </table>
</body>
</html>   